#main-header img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

#main-header .port-item {
  width: 25%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

.bg-dark {
  background-color: #000;
  color: #fff; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }

@media (min-width: 991px) {
  .name .fa {
    font-size: 25px; } }

@media (max-width: 576px) {
  .port-item {
    font-size: 14px;
    padding: 1.5rem 1rem !important; } }
